<b>
<h2>
<a id="{{ item.grp_title }}"></a>
</h2>
</b>
<div></div>
<br> <br> <br>
<hr>
<br>
<p>
<b>
<center>
<h1>
<h1>{{ item.grp_title | regex_replace('_', ' ') | upper }}</h1>
</h1>
</center>
</b> <br> <br>
<p>
<b>
<h2>
<p>{{ item.grp_desc }}</p>
</h2>
</b> <br> <br>
<div></div>